@keyframes logo {
  0% {
    transform: scale(1);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: scale(1);
  }
}
header img {
  width: 3rem;
  animation-name: logo;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 1s;
}

.footer {
  margin: 25px;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.iconos {
  padding: 2px;
  margin: 10px;
  color: red;
  border-color: transparent;
  font-size: rem;
  font-family: "Quicksand", sans-serif;
  list-style-type: none;
  text-decoration: none;
  border-radius: 3px;
  transition: 1s;
}
.iconos:hover {
  color: white;
  background-color: tan;
}

body {
  padding: 0px;
  margin: 0px;
}

body .imagen_whatsapp {
  width: 45px;
  background-color: transparent;
  position: fixed;
  top: 90%;
  right: 10%;
  bottom: 10%;
  transition: 2s;
}
body .imagen_whatsapp:hover {
  transform: rotate(360deg);
}

.grid_info {
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 10px;
}
.grid_info p {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}

.grid_item_1 {
  padding: 10px;
  border-radius: 5px;
  background-color: aqua;
  grid-column: 1/2;
}

.grid_item_2 {
  padding: 10px;
  border-radius: 5px;
  background-color: antiquewhite;
  grid-column: 2/3;
}

.grid_item_3 {
  padding: 10px;
  border-radius: 5px;
  background-color: aquamarine;
  grid-column: 1/3;
}

@media screen and (max-width: 768px) {
  .grid_info p {
    font-size: 1rem;
    color: red;
  }
  .iconos {
    color: blue;
  }
  .iconos:hover {
    color: red;
    background-color: blue;
  }
  .grid_alfombras {
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: 10px;
  }
  p {
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    color: red;
  }
  .container_img img {
    width: 100%;
    border-radius: 4px;
  }
}
.grid-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.grid_alfombras {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 20px;
  transition: 1s;
}
.grid_alfombras p {
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.grid_alfombrax {
  padding: 20px;
  border: solid 1px aquamarine;
  border-radius: 4px;
  text-align: center;
}
.grid_alfombrax img {
  width: 150px;
}
.grid_alfombrax:hover {
  border: dotted 2px red;
}

.bloque_principal {
  margin: auto;
  padding: 10px;
  background-image: linear-gradient(to bottom, white, #FFC107, white);
}
.bloque_principal h2 {
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}
.bloque_principal ul {
  list-style-type: none;
}
.bloque_principal li {
  text-decoration: none;
  margin: 10px;
}
.bloque_principal .lista1 {
  font-size: 1.5rem;
  font-family: Tahoma;
  color: rgb(235, 94, 13);
}
.bloque_principal .lista2 {
  font-size: 1.5rem;
  font-family: Arial;
  color: rgb(11, 139, 245);
}
.bloque_principal .lista3 {
  font-size: 1.5rem;
  font-family: Segoe UI;
  color: rgb(66, 236, 14);
}

/*# sourceMappingURL=style.css.map */
