.grid_alfombras {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 20px;
    transition: 1s;

    p{
        font-size: 1rem;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
    }
    
}

.grid_alfombrax {
    padding: 20px;
    border: solid 1px aquamarine;
    border-radius: 4px;
    text-align: center;

    img {
        width: 150px;
    }

    &:hover {
        border: dotted 2px red;
    }

}
