@keyframes logo {
    0% {
transform: scale(1);

    }

    25% {
transform: rotate(45deg);

    }

    50% {
        transform: scale(1.2);
        
            }

    75% {
        transform: rotate(-45deg);
                
                    }

    100% {
transform: scale(1);
    }
}

header {
    img {
        width: 3rem;
        animation-name: logo;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration:10s;
        animation-delay: 1s;

    }
}
