
$colorli:grey;
$colorprincipal:#FFC107;

@mixin fuente-listas ($size, $family, $color) {
    font-size: $size;
    font-family: $family;
    color: $color;
}




.bloque_principal {
    margin: auto;
    padding: 10px;
    background-color: aliceblue;

    h2 {
        color: $colorprincipal;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5rem;

    }
        ul {
            list-style-type: none;

            
        };
            li{
                text-decoration: none;
                margin: 10px;
                
            }

            .lista1 {
                @include fuente-listas(1.5rem, Tahoma, grey );

            }

            .lista2 {
                @include fuente-listas(1.5rem, Arial, black );

            }

            .lista3 {
                @include fuente-listas(1.5rem, Segoe UI, red);
            }
}