@media screen and (max-width: 768px) {

    .grid_info p {
        font-size: 1rem;
        color: red;

    }

    .iconos {
        color: blue;

        &:hover {
            color: red;
            background-color:blue;
        }
    }

       
    .grid_alfombras {
            grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
            gap: 10px;
      }
        
            p {
            font-size: 1rem;
            font-family: 'Quicksand', sans-serif;
            text-align: center;
            color: red;
         }
    

    .container_img img {
        width: 100%;
        border-radius: 4px;
    }

}


    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
  